*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.jordon-img{
    height: 14px;
    display: flex;
    align-items: center;
}

.brand-nav{
    height: 30px;
}

.nike-img{
    height: 20px;
}

.navbar{
    position: relative;
}




.nav-list{
    position: relative;
}

.nav-list>a:hover::before{
    content: '';
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
}

.nav-list>a:hover::after{
   content: '';
   height: 2px;
   position: absolute;
   left: 0px;
   bottom: 5px;
   background-color: black;
   transition: all 0.2s;
   opacity: 1;
   width: 100%;
   display: block;
   
}
.search-menu{
    position: absolute;
    right: 120px;
    bottom: 10px;

}

.search-bar{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    align-items: center;
    
    
}


.search-icon{
    height: 32px;
    width: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:gray;
    
}

.search-icon:hover{
    background-color: silver;
}

.bx-search{
    font-size: 20px;
}

.search-bar>input{
    position: absolute;
    bottom: 0px;
    background:none;
    height: 34px;
    border-radius: 20px;
    width: 112px;
    left: 35px;
    outline: none ;
    border: none;
}


input::placeholder{
    color: rgb(46, 45, 45);
    position: absolute;
    bottom: 8px;
}

.icons{
    height: 42px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 10px;
}

.heart-icon{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.basket-icon{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2px;
}

.bx-heart{
    font-size: 24px;
}

.bx-shopping-bag{
    font-size: 24px;
}

.basket-icon:hover{
    background-color: rgb(231, 231, 231);
}

.heart-icon:hover{
    background-color: rgb(231, 231, 231);
}

.search-field{
   position: relative;
   display: flex;
   align-items: center;

}

.search-field>input{
    height: 32px;
    width: 800px;
    border-radius: 20px;
    background-color: #f5f5f5;
    border: none;
}

.search-field>input>::placeholder{
    position: absolute;
    left: 20px;
}

.search-mag{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;


}
.search-field>::placeholder{
    margin-left: 30px
 
}

.modal-txt{
    margin-left: 130px;
}

.button-box{
    margin-left: 120px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.btn>a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


/* B A N N E R - S E C T I O N */

.text-slider{
    height: 90px;
    width: 100%;
    background-color: #f5f5f5;

}

  
  


