*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jordon-img{
    height: 14px;
    display: flex;
    align-items: center;
}

.brand-nav{
    height: 30px;
}

.nike-img{
    height: 20px;
}

.main-header{
    height: 60px;
}

